/* header css */
header{
    padding: 10px 0px;
    background: rgb(44, 43, 43);
}

/* global */
.white{
    color: white;
}

body{
    background-image: url(../IMG/pattern_background.jpg);
}

.aligncenter{
    text-align: center;
}

/* homepage css */
.box{
    background-color: rgb(73, 73, 73);
    width: 40%;
    height: 400px;
    display: table;
    border-radius: 30px;
    margin:40px;
}


.box input{
    border-radius: 10px;
    padding: 5px 20px;
    width: 300px;
    margin-bottom: 20px;
}

.nama_tempat {
    margin: 20px;
    padding: 10px;
}

.my_carousel {
    margin: 20px;
    padding: 10px;
}

.testimoni {
    background-color: rgba(255, 255, 255, 0.6);
    height: 100px;
    width: 1200px;
}

.review {
    padding: 10px;
    margin-top: 40px;
}