/* header css */
header{
    padding: 0px 0px;
    background: #6d6b6b;
}

.inline{
    display: inline;
}

.headerForm{
    padding-top: 20px;
}

/* global */
.white{
    color: white;
}

body{
    background-image: url(../IMG/pattern_background.jpg);
}

.aligncenter{
    text-align: center;
}

/* homepage css */
.box{
    background-color: rgb(73, 73, 73);
    width: 40%;
    height: 400px;
    display: table;
    border-radius: 30px;
    margin:40px;
}


.box input{
    border-radius: 10px;
    padding: 5px 20px;
    width: 300px;
    margin-bottom: 20px;
}

.search-result {
    background-color: white;
}

.before-text {
    margin-top: 20px;
}

.square {
    background-color: white;
    margin-top: 10px;
}

.text-result {
    padding-top: 0px;
}

.border {
    border: 10px solid grey;
}

.table-cell {
    vertical-align: top;
}

.left-cell {
    padding-right: 10px;
}
